@import 'tailwindcss';

@font-face {
  font-family: Bricolage;
  src: url('./assets/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf');
}
@font-face {
  font-family: DMSans;
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}
@theme {
  --background-image-small: url('./assets/images/bg-today-small.svg');
  --background-image-large: url('./assets/images/bg-today-large.svg');
  --color-background: #03012d;
  --color-item-bg: #25253f;
  --color-btn-hover: #3d3c5b;
  --color-border: #535270;
  --color-label: #93939e;
  --color-text: #dbdae9;
  --font-custom-bricolage: Bricolage;
  --font-custom-regular: DMSans;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
